/build/
/dist/
/EJBModule/nbproject/private/
/EJBModule/build/
/EJBModule/dist/
/JavaApplication/nbproject/private/
/JavaApplication/build/
/JavaApplication/dist/
/JavaAppDatumi/nbproject/private/
/nbproject/private/